---
import Page from '../layouts/Page.astro'
---
<Page title="About | 五所川原盛り上げ隊" description="五所川原盛り上げ隊についての詳細情報です。" isStickyHeader={true} footerClass="bg-slate-700 text-white">
  <div class="fixed text-6xl members-title z-20 p-2 text-white w-full">
    <div class="font-bold">About</div>
    <hr class="my-1" />
  </div>
  <div class="w-full h-[100dvh] bg-green-500 z-10 bg-out fixed top-0 left-0"></div>
  <div class="p-5">
    <div class="text-5xl z-50 font-bold">About</div>
    <div class="py-1">詳細情報です。</div>
    <div class="desc-body lg:max-w-[80%]">
      <div class="mt-2 [&>p]:mt-1">
        <p class="text-3xl font-bold">五所川原盛り上げ隊とは？</p>
        <p>五所川原盛り上げ隊は五所川原市をとにかく盛り上げたいという思いから地元の学生を中心に生まれた団体です。</p>
        <p>自分たちの足で見つけ自分たちが発信するをモットーに精力的に活動をしています。</p>
        <p>現在地方における様々な課題が浮き彫りになる中で 少しでもこの五所川原市を盛り上げられればと思っております。どうかよろしくお願いします！！</p>
        <p>当団体では「ここのお店を紹介してほしい」や「うちの店を宣伝して欲しい」などといった意見を募集しております。お気軽にお問い合わせの方からメッセージを送ってくださると幸いです。</p>
        <p>また、当団体の運営メンバーを随時募集しておりますので興味のある方はぜひお声掛けください！</p>
        <p>メッセージの送信方法はお問い合わせにあるメールアドレスからメールを送るかInstagramやXなどのSNSのDMに直接送ってください。</p>
      </div>
      <div class="mt-2 [&>p]:mt-1">
        <p class="text-3xl font-bold">五所川原市とは？</p>
        <p>五所川原盛り上げ隊は五所川原市をとにかく盛り上げたいという思いから地元の学生を中心に生まれた団体です。</p>
        <p>自分たちの足で見つけ自分たちが発信するをモットーに精力的に活動をしています。</p>
        <p>現在地方における様々な課題が浮き彫りになる中で 少しでもこの五所川原市を盛り上げられればと思っております。どうかよろしくお願いします！！</p>
        <p>当団体では「ここのお店を紹介してほしい」や「うちの店を宣伝して欲しい」などといった意見を募集しております。お気軽にお問い合わせの方からメッセージを送ってくださると幸いです。</p>
        <p>また、当団体の運営メンバーを随時募集しておりますので興味のある方はぜひお声掛けください！</p>
        <p>メッセージの送信方法はお問い合わせにあるメールアドレスからメールを送るかInstagramやXなどのSNSのDMに直接送ってください。</p>
      </div>
      <div class="mt-2">
        <p class="text-3xl font-bold">年表</p>
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <tbody>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    令和５年１１月２０日
                </th>
                <td class="px-6 py-4">
                    設立。公式Instagram開設。
                </td>
              </tr>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    令和５年１１月２０日
                </th>
                <td class="px-6 py-4">
                    設立。公式Instagram開設。
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</Page>
<style>
  .desc-body > p {
    @apply my-2 leading-relaxed;
  }
  @keyframes big-title {
    0% {
      transform: translate(0%, 30dvh);
    }
    30% {
      transform: translate(0%, 30dvh);
    }

    100% {
      transform: translate(-200%, 30dvh);
    }
  }
  .members-title {
    animation-name: big-title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes bg-out {
    0% {
      transform: scaleY(1);
      opacity: 1;
    }
    30% {
      transform: scaleY(1);
      opacity: 1;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  .bg-out {
    animation-name: bg-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
  }
</style>
