---
import Page from '../layouts/Page.astro'
---
<Page title="About | 五所川原盛り上げ隊" description="五所川原盛り上げ隊についての詳細情報です。" isStickyHeader={true} footerClass="bg-slate-700 text-white">
  <div class="fixed text-6xl members-title z-20 p-2 text-white w-full">
    <div class="font-bold">About</div>
    <hr class="my-1" />
  </div>
  <div class="w-full h-[100dvh] bg-green-500 z-10 bg-out fixed top-0 left-0"></div>
  <div class="p-5">
    <div class="text-5xl z-50 font-bold">About</div>
    <div class="py-1">詳細情報です。</div>
    <div class="desc-body lg:max-w-[80%]">
      {
        Array(100).fill(<p>メロスは激怒した。必ず、かの邪智暴虐じゃちぼうぎゃくの王を除かなければならぬと決意した。メロスには政治がわからぬ。メロスは、村の牧人である。笛を吹き、羊と遊んで暮して来た。けれども邪悪に対しては、人一倍に敏感であった。きょう未明メロスは村を出発し、野を越え山越え、十里はなれた此このシラクスの市にやって来た。メロスには父も、母も無い。女房も無い。十六の、内気な妹と二人暮しだ。この妹は、村の或る律気な一牧人を、近々、花婿はなむことして迎える事になっていた。結婚式も間近かなのである。メロスは、それゆえ、花嫁の衣裳やら祝宴の御馳走やらを買いに、はるばる市にやって来たのだ。先ず、その品々を買い集め、それから都の大路をぶらぶら歩いた。メロスには竹馬の友があった。セリヌンティウスである。今は此のシラクスの市で、石工をしている。その友を、これから訪ねてみるつもりなのだ。久しく逢わなかったのだから、訪ねて行くのが楽しみである。歩いているうちにメロスは、まちの様子を怪しく思った。ひっそりしている。もう既に日も落ちて、まちの暗いのは当りまえだが、けれども、なんだか、夜のせいばかりでは無く、市全体が、やけに寂しい。のんきなメロスも、だんだん不安になって来た。路で逢った若い衆をつかまえて、何かあったのか、二年まえに此の市に来たときは、夜でも皆が歌をうたって、まちは賑やかであった筈はずだが、と質問した。若い衆は、首を振って答えなかった。しばらく歩いて老爺ろうやに逢い、こんどはもっと、語勢を強くして質問した。老爺は答えなかった。メロスは両手で老爺のからだをゆすぶって質問を重ねた。老爺は、あたりをはばかる低声で、わずか答えた。</p>)
      }
    </div>
  </div>
</Page>
<style>
  .desc-body > p {
    @apply my-2 leading-relaxed;
  }
  @keyframes big-title {
    0% {
      transform: translate(0%, 30dvh);
    }
    30% {
      transform: translate(0%, 30dvh);
    }

    100% {
      transform: translate(-200%, 30dvh);
    }
  }
  .members-title {
    animation-name: big-title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes bg-out {
    0% {
      transform: scaleY(1);
      opacity: 1;
    }
    30% {
      transform: scaleY(1);
      opacity: 1;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  .bg-out {
    animation-name: bg-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
  }
</style>