---
import Page from '../layouts/Page.astro'

const history: {
  date: string
  content: string
}[] = [
  {
    date: '令和５年１１月２０日',
    content: '設立。公式Instagram開設。'
  },
  {
    date: '１１月２１日',
    content: '「五所川原グルメ旅」連載開始。'
  },
  {
    date: '１１月２４日',
    content: '「今日の五所川原」連載開始。公式ロゴマーク作製。'
  },
  {
    date: '１１月２６日',
    content: '「五所川原名所紹介」連載開始。'
  },
  {
    date: '１２月　１日',
    content: '公式Ｘ(旧Twitter)開設。'
  },
  {
    date: '令和６年    ２月１４日',
    content: '公式YouTube「五所川原ヤッテマレ!ちゃんねる」開設。'
  },
  {
    date: '２月２４日',
    content: 'あおもり国スポ・障スポ県民運動団体認定。'
  },
  {
    date: '４月２５日',
    content: '公式amebaブログ開設。'
  },
  {
    date: '５月　１日',
    content: 'ホームページ開設。'
  }
]
---
<Page title="About | 五所川原盛り上げ隊" description="五所川原盛り上げ隊についての詳細情報です。" isStickyHeader={true} footerClass="bg-slate-700 text-white">
  <div class="fixed text-6xl members-title z-20 p-2 text-white w-full">
    <div class="font-bold">About</div>
    <hr class="my-1" />
  </div>
  <div class="w-full h-[100dvh] bg-green-500 z-10 bg-out fixed top-0 left-0"></div>
  <div class="p-5">
    <div class="text-5xl z-50 font-bold">About</div>
    <div class="py-1">詳細情報です。</div>
    <div class="desc-body lg:max-w-[80%]">
      <div class="mt-2 [&>p]:mt-1">
        <p class="text-3xl font-bold">五所川原盛り上げ隊とは？</p>
        <p>五所川原盛り上げ隊は五所川原市をとにかく盛り上げたいという思いから地元の学生を中心に生まれた団体です。</p>
        <p>自分たちの足で見つけ自分たちが発信するをモットーに精力的に活動をしています。</p>
        <p>現在地方における様々な課題が浮き彫りになる中で 少しでもこの五所川原市を盛り上げられればと思っております。どうかよろしくお願いします！！</p>
        <p>当団体では「ここのお店を紹介してほしい」や「うちの店を宣伝して欲しい」などといった意見を募集しております。お気軽にお問い合わせの方からメッセージを送ってくださると幸いです。</p>
        <p>また、当団体の運営メンバーを随時募集しておりますので興味のある方はぜひお声掛けください！</p>
        <p>メッセージの送信方法はお問い合わせにあるメールアドレスからメールを送るかInstagramやXなどのSNSのDMに直接送ってください。</p>
      </div>
      <div class="mt-3 [&>p]:mt-1">
        <p class="text-3xl font-bold">五所川原市とは？</p>
        <p>五所川原市は青森県西部にある市で津軽半島中南部に位置します。人口は令和5年10月時点で50803人、青森県で6番目の人口を誇る都市です。</p>
        <p>漆川地区には大きな工業団地が設置されており、工業が発展しています。また、五所川原市は古くから商業都市として発展してきましたが五所川原駅周辺に連立していた百貨店は軒並み閉店してしまい、現在はエルムの街を中心として経済が回っています。</p>
        <p>平成の大合併にて旧金木町と旧市浦村と合併し、長い歴史と自然に包まれた新たな五所川原市が誕生しました。</p>
        <p>旧金木町は文豪・太宰治の出身地としても知られ、吉幾三の出身地でもあります。また、コメの生産が盛んであり、秋には黄金の田んぼを走る津軽鉄道の絶景が見られます。芦野公園は桜の名所としても知られており、春には多くの観光客が訪れます。</p>
        <p>旧市浦村はシジミで有名な十三湖があり、毎年厳しい審査の上通ったシジミを全国に出荷しています。また、平安時代には十三湊として北前船の交流の拠点ともなりました。</p>
        <p>市の中心にはJR五能線と五所川原中心街と中泊町を結ぶ本州最北の私鉄、津軽鉄道が走っており、交通も発達しています。夏には五所川原立佞武多が行なわれ毎年多くの観光客が訪れます。他にも虫おくりという伝統行事があり奥津軽虫と火の祭りとして毎年取り行われています。</p>⁡
      </div>
      <div class="mt-3">
        <p class="text-3xl font-bold">年表</p>
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <tbody>
              {
                history.map(event => (<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap text-right dark:text-white w-1/4 min-w-40">
                    {event.date}
                  </th>
                  <td class="px-6 py-4">
                    {event.content}
                  </td>
                </tr>))
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</Page>
<style>
  .desc-body > p {
    @apply my-2 leading-relaxed;
  }
  @keyframes big-title {
    0% {
      transform: translate(0%, 30dvh);
    }
    30% {
      transform: translate(0%, 30dvh);
    }

    100% {
      transform: translate(-200%, 30dvh);
    }
  }
  .members-title {
    animation-name: big-title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes bg-out {
    0% {
      transform: scaleY(1);
      opacity: 1;
    }
    30% {
      transform: scaleY(1);
      opacity: 1;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  .bg-out {
    animation-name: bg-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
  }
</style>
