---
import Page from '../layouts/Page.astro'
import Posts from '../components/Posts.astro'
import Links from '../components/Links.astro'
---

<Page title="五所川原盛り上げ隊">
  <div class="fixed w-full h-[100dvh] bg-cover bg-hero -z-10 brightness-75" />
  <div
    class="w-full flex items-center p-5 text-white font-extrabold text-6xl h-[100dvh] leading-relaxed"
  >
    Let's take
    <br />on the challenge!
  </div>
  <div class="text-white p-5">
    {/* About */}
    <div class="text-2xl font-bold text-lime-50">Target</div>
    <div class="text-5xl font-bold">目的</div>
    <div class="text-xl leading-relaxed py-1 lg:max-w-[80%] desc-text">
      <p>魅力溢れる五所川原をもっと盛り上げるため<br />そして多くの人に知って、来てもらえるようにしていくことを目的としています。</p>
      <p>
        この五所川原をもっともっと盛り上げたい、その思いから生まれたのが五所川原盛り上げ隊です。
        青森県と五所川原市の魅力をどんどん発信していきます。
      </p>
      <p>
        そして、地域の活気をどんどん良いものにしていこうと私たちは考えています。
      </p>
      {/* ここから文章思いつかないのでChatGPTに生成してもらった */}
      <p>
        地域の魅力を広く発信するために、SNSやウェブサイト、地域イベントなどを活用して情報発信を行っています。
        これにより、地域の観光スポットや文化、伝統、地元の美味を紹介し、訪れる人々に魅力を伝えています。
      </p>
      <p>
        地域の魅力を最大限に引き出し、地域の活気をより良いものにするために、様々な取り組みを行っています。これらの取り組みを通じて、五所川原がより魅力的な地域として知られ、多くの人々に愛される場所になることを目指しています。
      </p>
      <p>
        地域の活気と魅力をさらに高めるためには、地域住民の参加や協力が不可欠です。五所川原盛り上げ隊では、地域の方々とのコミュニケーションを大切にし、
        地域の課題やニーズに真摯に向き合いながら、より良い地域づくりに取り組んでいます。
      </p>
    </div>
  </div>
  <div class="bg-gradient-to-b from-[#0000] to-slate-900 to-[10rem] px-5 text-white">
    <div class="text-2xl font-bold text-lime-50">Blog Posts</div>
    <div class="text-5xl font-bold">投稿</div>
    <div class="py-2">
      <Posts />
    </div>
  </div>
  <div class="bg-slate-900 text-white p-5">
    <div class="text-2xl font-bold text-lime-50">Links</div>
    <div class="text-5xl font-bold">リンク</div>
    <div class="py-2">
      <Links />
    </div>
  </div>
</Page>
<style>
  .bg-hero {
    background-image: url(/src/assets/hero.jpg);
  }
  .desc-text > p {
    @apply py-1;
  }
  .to-white {
    /*background: linear-gradient(to bottom, #fff0, #fff 10rem, #000);*/
  }
</style>
