---
import { Image } from 'astro:assets'
import Page from '../layouts/Page.astro'

const members: {
  name: string
  avater?: ImageMetadata
  desc: string
  post?: string
}[] = [
  {
    name: '毛利 仁哉',
    post: '代表',
    desc: '皆さんこんにちは！五所川原盛り上げ隊代表の毛利です！私はこの魅力溢れる街、五所川原をもっと多くの人に知って、見て、来てもらえるようなところにしたいという思いからこの団体を設立いたしました。少子高齢化の波にのまれ、地方は厳しくなっていく時代ですがそんな時こそ私たち学生にもできるようなSNSを通じた魅力発信で少しでも地域に貢献できればと思います。全力でこの活動してまいりますのでどうかよろしくお願いします！！'
  },
  {
    name: 'なみ',
    post: '監事',
    desc: '地域活性を目標にしてます！よろしくお願いします！'
  }
]
---
<Page title="Members | 五所川原盛り上げ隊" description='五所川原盛り上げ隊のメンバーを紹介します。' isStickyHeader={true} footerClass="bg-slate-700 text-white">
  <div class="fixed text-6xl members-title z-20 p-2 text-white w-full">
    <div class="font-bold">Members</div>
    <hr class="my-1" />
  </div>
  <div class="w-full h-[100dvh] bg-blue-500 z-10 bg-out fixed top-0 left-0"></div>
  <div class="p-5">
    <div class="text-5xl z-50 font-bold">Members</div>
    <div class="py-1">五所川原盛り上げ隊のメンバー一覧です。</div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 py-3">
      {
        members.map(member => (<div>
          <div class="flex justify-center w-full">
            <div class="w-24">
              {
                member.avater && <Image src={member.avater ?? ''} alt='Icon' class="w-full h-full" />
              }
            </div>
          </div>
          <div class="font-bold text-2xl">{member.name}</div>
          <div class="text-slate-600 text-lg">{member.post ?? 'No Post'}</div>
          <div class="text-slate-500 text-sm">
            {
              member.desc.length > 40 ? <>
                <div>{member.desc.slice(0, 40)}</div>
                <div><button class="text-black" onclick={`
                  (() => {
                    window.showMoreDialog(\`${member.desc}\`)
                  })()
                `}>Show more</button></div>
              </> : member.desc
            }
          </div>
        </div>))
      }
    </div>
  </div>

  <dialog class="fixed top-0 left-0 w-full z-40 h-[100dvh] bg-[#000a]" id="show-more-dialog">
    <div class="bg-white m-4 rounded-md border p-2">
      <form method="dialog">
        <div class="flex justify-between items-center">
          <div class="text-2xl">Content</div>
          <button class="text-lg font-bold">Close</button>
        </div>
      </form>
      <div id="show-more-content" class="py-2" />
    </div>
  </dialog>
</Page>
<style>
  @keyframes big-title {
    0% {
      transform: translate(0%, 30dvh);
    }
    30% {
      transform: translate(0%, 30dvh);
    }

    100% {
      transform: translate(-200%, 30dvh);
    }
  }
  .members-title {
    animation-name: big-title;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes bg-out {
    0% {
      transform: scaleY(1);
      opacity: 1;
    }
    30% {
      transform: scaleY(1);
      opacity: 1;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  .bg-out {
    animation-name: bg-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    transform-origin: bottom center;
  }
</style>
<script>
  const $showMoreDialog = document.getElementById('show-more-dialog') as HTMLDialogElement
  const $showMoreContent = document.getElementById('show-more-content') as HTMLDivElement
  // 悪い子
  (window as any).showMoreDialog = (text: string) => {
    $showMoreDialog.show()
    $showMoreContent.textContent = text
  }
</script>
