---
// @ts-ignore
import IconInstagram from '@tabler/icons-preact/dist/esm/icons/IconBrandInstagram.mjs'
// @ts-ignore
import IconX from '@tabler/icons-preact/dist/esm/icons/IconBrandX.mjs'
// @ts-ignore
import IconThreads from '@tabler/icons-preact/dist/esm/icons/IconBrandThreads.mjs'

interface Props {
  class?: string
}
const className = Astro.props.class
---
<footer class="p-2" class:list={[
  className ?? 'text-white'
]}>
  <div class="grid md:grid-cols-2 place-items-center">
    <div class="text-2xl font-bold">五所川原盛り上げ隊</div>
    <div>
      <div class="font-bold">Links</div>
      <div class="grid grid-cols-3">
        <a href="https://instagram.com/goshogawara_moriagetai" title="Instagram"><IconInstagram /></a>
        <a href="https://x.com/gosyo_moriage" title="X"><IconX /></a>
        <a href="https://threads.com/goshogawara_moriagetai" title="Threads"><IconThreads /></a>
      </div>
    </div>
  </div>
  <div class="text-center">&copy; 2024 TRANs, 五所川原盛り上げ隊</div>
</footer>
