---
import { Image } from "astro:assets";
import instagram from "../assets/brands/Instagram_Glyph_Gradient.svg"
import threads from "../assets/brands/threads-logo-white.svg"
import x from "../assets/brands/x-logo-white.png"

const links: {
  name: string;
  link: string;
  id: string;
  image: string | ImageMetadata;
}[] = [
  {
    name: "Instagram",
    link: "https://www.instagram.com/goshogawara_moriagetai",
    id: "@goshogawara_moriagetai",
    image: instagram,
  },
  {
    name: "Threads",
    link: "https://www.threads.net/goshogawara_moriagetai",
    id: "@goshogawara_moriagetai",
    image: threads
  },
  {
    name: "X",
    link: "https://x.com/gosyo_moriage",
    id: "@gosyo_moriage",
    image: x
  }
];
---

<div class="flex justify-around flex-wrap gap-4">
  {
    links.map((link) => (
      <a class="wave" href={link.link}>
        <div class="text-center flex flex-col">
          <div class="flex justify-center">
            {typeof link.image === "string" ? (
              <div
                set:html={link.image}
                class="text-white w-12 h-12 text-center"
              />
            ) : (
              <Image src={link.image} alt={link.name} class="w-12 h-12" />
            )}
          </div>
        </div>
      </a>
    ))
  }
</div>
